Dataset_cats/
data/
coco/
yolov7/
*.jpg
.gitignore
download_coco.py
coco_airplane.yaml
Object_Detection_TF/
Object_Detection_yolo/
modells/
venv/
*.pth
*.h5
*.zip
*.jpg
*.png
modells/
venv/
..bfg-report/
